{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg" style="background-color: #9ed7ff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">My App</a>
            <ul class="navbar-nav inline">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account') }}">My Account</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="container">Tasks</h1>
    <div class="container">
        <ul>
            <li>Task 1</li>
            <li>Task 2</li>
            <li>Task 3</li>
        </ul>
    </div>
{% endblock %}
